@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center alert alert-dark">
    <h1 class="display-4">Lion Software Dev. Leave Management System</h1>
</div>
<div class="jumbotron">
    <h3>Functionalities:</h3>
    <h2>Use this solution to:</h2>
    <ul>
        <li>
            <p>Book your leave request</p>
        </li>
        <li>
            <p>It's easy and simple to use</p>
        </li>
        <li>
            <p>Demand leave request and let the Admin either approve or deny your request</p>
        </li>
        <li>
            <p>Google calender function coming soon</p>
        </li>

    </ul>
</div>